.calendar {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.calendar-header {
  display: flex;
  justify-content: center;
  border: 1px solid royalblue;
}

.calendar-week-day-bar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid orange;
}

.cell-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid cornflowerblue;
}