@import 'calendar';
@import 'calendarCell';

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 100%;
}